@page "/songs/details"
@using Microsoft.EntityFrameworkCore
@using MeowsicLabzz.Components.Domain
@inject IDbContextFactory<MeowsicLabzz.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Song</h2>
    <hr />
    @if (song is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@song.Title</dd>
            <dt class="col-sm-2">Duration</dt>
            <dd class="col-sm-10">@song.Duration</dd>
            <dt class="col-sm-2">ArtistId</dt>
            <dd class="col-sm-10">@song.ArtistId</dd>
            <dt class="col-sm-2">GenreId</dt>
            <dd class="col-sm-10">@song.GenreId</dd>
            <dt class="col-sm-2">AlbumId</dt>
            <dd class="col-sm-10">@song.AlbumId</dd>
        </dl>
        <div>
            <a href="@($"/songs/edit?id={song.Id}")">Edit</a> |
            <a href="@($"/songs")">Back to List</a>
        </div>
    }
</div>

@code {
    private Song? song;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        song = await context.Songs.FirstOrDefaultAsync(m => m.Id == Id);

        if (song is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
